.p-demo { background: #EEE; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; }
.p-demo .infoviz { width: 800px; height: 600px; position: absolute; left: 50%; top: 50%; margin: -300px 0 0 -400px; }
